In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
130,tt2692250,127000000,349424282,Night at the Museum: Secret of the Tomb,Ben Stiller|Rami Malek|Rebel Wilson|Robin Will...,Shawn Levy,One Final Night to Save the Day.,When the magic powers of The Tablet of Ahkmenr...,97,Adventure|Comedy|Fantasy|Family,Twentieth Century Fox Film Corporation|1492 Pi...,12/17/2014,6.1,2014
1152,tt0269347,55000000,34234008,The Hunted,Tommy Lee Jones|Benicio del Toro|Connie Nielse...,William Friedkin,Some men should not be found.,"In the wilderness of British Columbia, two hun...",94,Drama|Action|Thriller|Crime,Lakeshore Entertainment|Alphaville Films,3/11/2003,5.8,2003
933,tt0265459,12000000,52223306,One Hour Photo,Robin Williams|Connie Nielsen|Michael Vartan|E...,Mark Romanek,The things that we fear the most have already ...,"Sy ""the photo guy"" Parrish has lovingly develo...",96,Horror|Thriller,Fox Searchlight Pictures|Catch 23 Entertainment,8/21/2002,6.4,2002
426,tt1017451,10000000,2995811,The Runaways,Dakota Fanning|Kristen Stewart|Michael Shannon...,Floria Sigismondi,It's 1975 and they're about to explode.,"Joan Jett and Cherie Currie, two rebellious te...",106,Drama|Music,River Road Entertainment|Road Rebel|Linson Ent...,3/19/2010,6.3,2010
1171,tt0338466,55000000,33828318,Stuck on You,Matt Damon|Greg Kinnear|Eva Mendes|Wen Yann Sh...,Bobby Farrelly|Peter Farrelly,"Whatever happens to the boys, one thing is cer...","In Martha's Vineyard, Mass., conjoined twins W...",118,Comedy,Twentieth Century Fox Film Corporation|Conundr...,12/10/2003,4.8,2003

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

 
 тут пишем ваш код для решения данного вопроса:

In [6]:
data[data.budget==data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [9]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
data[data.runtime == data.runtime.min()].original_title
answers['3'] = 'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [11]:
round(data.runtime.mean())
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [12]:
round(data.runtime.median())
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data['revenue'] - data['budget']
data[data.profit == data.profit.max()].original_title
answers['6'] = 'Avatar'

# 7. Какой фильм самый убыточный?

In [14]:
data['profit'] = data['revenue']-data['budget']
data[data.profit == data.profit.min()].original_title

answers['7'] = 'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:

data[data.profit > 0].original_title.count()
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
data.query('release_year == 2008').sort_values('profit', ascending=False)

answers['9'] = 'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
data.query('2012 <= release_year <= 2014').sort_values('profit', ascending=True)
answers['10'] = 'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [18]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data_genres=data.copy()
data_genres.genres=data_genres.genres.str.split('|')
data_genres['genres'].explode().value_counts().index[0]
answers['11'] = 'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [19]:

data_genres[data_genres.profit > 0].genres.explode().value_counts().index[0]
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [20]:
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [21]:

df = data[data.genres.str.contains('Action')].copy()

df['dirs'] = df.director.str.split('|')
df['dirs'].explode().value_counts().index[0] 
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [22]:
data_revenue = data.copy()
data_revenue['cast'] = data_revenue['cast'].str.split('|')
cast_revenue = data_revenue[data_revenue.release_year == 2012][['revenue', 'cast']]
cast_revenue = cast_revenue.explode('cast')
cast_revenue = cast_revenue.groupby('cast').sum()
cast_revenue.sort_values(by = 'revenue', ascending = False).index[0]
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [23]:
data_actor = data.copy()
data_actor['cast'] = data_actor['cast'].str.split('|')
actor = data_actor[data_actor.budget > data_actor.budget.mean()][['cast','original_title']]
actor = actor.explode('cast')
actor = actor.groupby('cast').count()
actor.sort_values(by = 'original_title', ascending = False).index[0]
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [24]:
actions2 = data.copy()
actions2['genre'] = actions2['genres'].str.split('|')
actor_Cage = actions2[actions2.cast.str.contains('Nicolas Cage',na = False)][['genre']]
actor_Cage = actor_Cage.genre.explode()
actor_Cage.value_counts().index[0]
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [25]:
data_film = data.copy()
min_profit = data_film[data_film.production_companies.str.contains\
('Paramount Pictures',na = False)][['profit','original_title']].sort_values\
(by ='profit', ascending = True)
min_profit
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [26]:
data_success = data.copy()
data_success.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False).index[0]
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [27]:
data_success = data.copy()
success_year = data_success[data_success.production_companies.str.contains\
('Warner Bros',na = False)][['profit','release_year']]
success_year = success_year.groupby(['release_year'])\
['profit'].sum().sort_values(ascending = False).index[0]
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [28]:
data_dates = data.release_date.apply(lambda x: x.split('/'))
data['month'] = data_dates.apply(lambda x: int(x[0]))
find_month = data.groupby(['month'])['original_title'].sum().sort_values(ascending = False).index[0]
answers['21'] = 'сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [29]:
data_dates = data.release_date.apply(lambda x: x.split('/'))
data['month'] = data_dates.apply(lambda x: int(x[0]))
summer_month = data.groupby(['month'])['original_title'].sum()
summer_month = data[(data.month < 9) & (data.month > 5 )][['original_title','month']]
summer_month['original_title'].count()
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [30]:
data_dates = data.release_date.apply(lambda x: x.split('/'))
data['month'] = data_dates.apply(lambda x: int(x[0]))

winter_director = data[(data.month == 1) | (data.month == 2 ) | (data.month == 12 ) ]\
[['director','original_title']]
winter_director = winter_director.groupby(['director'])\
['original_title'].count().sort_values(ascending = False)
answers['23'] = 'Peter Jackson'
winter_director.index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [31]:
data_company = data.copy()

data_company['len_original_title'] = data_company['original_title'].str.len()
data_company['production_companies'] = data_company['production_companies'].str.split('|')

production_comp = data_company.explode('production_companies')
production_comp = production_comp.groupby(['production_companies'])\
['len_original_title'].mean().sort_values(ascending = False)
production_comp.index[0]
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [38]:
data_word=data.copy()
data_word['len_overview'] = data_word['overview'].str.split(' ').str.len()
data_word['production_companies'] = data_word['production_companies'].str.split('|')
production_comp = data_word.explode('production_companies')
production_comp = production_comp.groupby(['production_companies'])\
['len_overview'].mean().sort_values(ascending = False)
production_comp.index[0]
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [37]:
data_best = data.copy()
data_best = data_best[data_best.vote_average >= (max(data_best.vote_average) * 0.99)]\
[['original_title','vote_average']]
data_best
answers['26'] = 'The Dark Knight'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [34]:
from itertools import combinations
data_pare = [] 
for cast in data.cast.str.split('|'):
    data_pare.extend(list(combinations(cast, 2)))
data_pare = pd.Series(data_pare).value_counts()
data_pare.head()
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

# Submission

In [35]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'The Dark Knight',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [36]:
# и убедиться что ни чего не пропустил)
len(answers)

27